<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Николай Добрин | Главная</title>
  {% extends 'base.html' %}
  {% block content %}
  <!-- Стили CSS: -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <!-- Подключение JS: -->
  <script src="{% static 'js/header.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'js/full_load.js' %}"></script>
</head>
<script>
  $(document).ready(function() {
    function switchCarousel(event) {
      event.preventDefault();
      event.stopPropagation();
      const targetId = $(this).attr('for');
      $(`#${targetId}`).prop('checked', true);
    }
    $('.carousel__nav > label').click(switchCarousel);
    $('.carousel__prev > label').click(switchCarousel);
    $('.carousel__next > label').click(switchCarousel);
    $("#buy-popup").hide();
    $("#buy-button").on("click", function() {
      $("#buy-popup").fadeIn("slow");
      $([document.documentElement, document.body]).animate({
        scrollTop: $("#buy-popup").offset().top - $(window).height() / 2 + 200
      }, 1000);
    });
    $("#exit-popup-button").on("click", function() {
      $("#buy-popup").fadeOut("slow");
      $([document.documentElement, document.body]).animate({
        scrollTop: $("#dobrin-photo-text").offset().top - $(window).height() / 2
      }, 1000);
    });
  });
</script>

<body>
  <div class="content-container">
    <main>
      <section class="buy-text" id="dobrin-photo-text">
        <div class="text-dobrin">
          <h3>Добро пожаловать на личный сайт художника<br>Николая Добрина!</h3>
        </div>
        <button class="buy-button" id="buy-button">Приобрести</button>
      </section>
      <div class="buy-popup" id="buy-popup">
        <div class="container_copy">
          <h1>Как приобрести?</h1>
          <p>Вы можете приобрести картину, связавшись к художником напрямую, написав на почту:<br><a href="mailto:artdobrin22@gmail.com?subject=Заказ">artdobrin22@gmail.com</a><br><br>Или же отправить запрос художнику используя корзину на сайте</p>
          <div class="buttons">
            <a class="btn_gal" href='gal/'>В галерею</a>
            <a class="btn_gal" href="#" id="exit-popup-button">Скрыть</a>
          </div>
        </div>
      </div>
      <section>
        <div id="carousel-wrapper">
          <div class="container-carousel">
            <div class="carousel">
              <input type="radio" id="carousel-1" name="carousel[]" checked>
              <input type="radio" id="carousel-2" name="carousel[]">
              <input type="radio" id="carousel-3" name="carousel[]">
              <input type="radio" id="carousel-4" name="carousel[]">
              <input type="radio" id="carousel-5" name="carousel[]">
              <ul class="carousel__items">
                <li class="carousel__item"><img src="//lh5.googleusercontent.com/-cTEgPOnd3l8/U8-EmaZ4KNI/AAAAAAAABc8/6eacbALkQ6A/w1358-h905-no/carousel-1.JPG" alt=""></li>
                <li class="carousel__item"><img src="//lh4.googleusercontent.com/-ntVHbbWX5eo/U8-EmV8P4cI/AAAAAAAABc4/ICYBGkcztTc/w1358-h905-no/carousel-2.jpg" alt=""></li>
                <li class="carousel__item"><img src="//lh5.googleusercontent.com/-batEXUZE_e4/U8-EmLF9-hI/AAAAAAAABc0/J3tJVUa6Buk/w1358-h905-no/carousel-3.jpg" alt=""></li>
                <li class="carousel__item"><img src="//lh5.googleusercontent.com/-gywqIeMvel0/U8-EolKdtkI/AAAAAAAABdM/G0-NHuvvJUU/w1358-h905-no/carousel-4.jpg" alt=""></li>
                <li class="carousel__item"><img src="//lh5.googleusercontent.com/--2iANjL3ikc/U8-EoGJ18mI/AAAAAAAABdI/fBe-q3Gos6Y/w1358-h905-no/carousel-5.jpg" alt=""></li>
              </ul>
              <div class="carousel__prev">
                <label for="carousel-1"></label>
                <label for="carousel-2"></label>
                <label for="carousel-3"></label>
                <label for="carousel-4"></label>
                <label for="carousel-5"></label>
              </div>
              <div class="carousel__next">
                <label for="carousel-1"></label>
                <label for="carousel-2"></label>
                <label for="carousel-3"></label>
                <label for="carousel-4"></label>
                <label for="carousel-5"></label>
              </div>
              <div class="carousel__nav">
                <label for="carousel-1"></label>
                <label for="carousel-2"></label>
                <label for="carousel-3"></label>
                <label for="carousel-4"></label>
                <label for="carousel-5"></label>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <ul class="menu-nav">
          <li class="menu-nav-item"><a class="menu-nav-link-home" href="/gal/"><span>
                <div>Галерея</div>
              </span></a></li>
          <li class="menu-nav-item"><a class="menu-nav-link-home" href="/nov/"><span>
                <div>События</div>
              </span></a></li>
          <li class="menu-nav-item"><a class="menu-nav-link-home" href="/bio/"><span>
                <div>Биография</div>
              </span></a></li>
          <li class="menu-nav-item"><a class="menu-nav-link-home" href="/vid/"><span>
                <div>Видео</div>
              </span></a></li>
        </ul>
      </section>
    </main>
  </div>
</body>
{% endblock %}

</html>